# Ignore virtual environments
venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# VS Code settings
.vscode/

# Test output
*.log
*.out

# Windows system files
Thumbs.db

# Python environment and package management
*.egg-info/
dist/
build/

# Browser and Playwright data
user_data/
